.background-container {
  position: absolute;
  z-index: 0;

  display: grid;
  grid-template-columns: repeat(var(--background-cols),1fr);
  grid-template-rows: repeat(var(--background-rows),1fr);

  overflow: hidden;

  width: 100%;
  height: 100%;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: solid 2px var(--fg);
}

.background-grid-item {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: solid 2px var(--fg);

  background-color: #FF00FF;
}

.main {
  display: grid;
  align-items: center;
  place-items: center;
}
