.background-container {
  position: absolute;
  z-index: 0;

  display: grid;
  grid-template-columns: repeat(var(--background-cols),1fr);
  grid-template-rows: repeat(var(--background-rows),1fr);

  overflow: hidden;

  width: 100%;
  height: 100%;
}

.background-grid-item {
  margin: 1px;

  background-color: transparent;

  transition-duration: 2s;
  background-color: #808080;
}

.background-grid-item:hover {
  /*transition-duration: 0ms;*/
  /*background-color: #808080;*/
}
