.background-container {
  position: absolute;
  z-index: -1;

  display: grid;
  grid-template-columns: repeat(var(--background-cols),1fr);
  grid-template-rows: repeat(var(--background-rows),1fr);

  width: var(--scroll-width);
  height: var(--scroll-height);

  /* margin: 1px; */
}

.background-grid-item {
  margin: 1px;

  background-color: transparent;

  transition-duration: .3s;
  background-color: var(--bg);

  pointer-events: auto;
}

.background-grid-item:hover {
  transition-duration: 0ms;
  scale: .9;
}

.background-notif {
  position: absolute;
  width: 17em;
  padding: 1em;

  left: 1em;
  top: 1em;

  border-radius: 1.5em;
  box-shadow: 0 0 1em var(--shadow);

  z-index: 100;
}

.background-notif * {
  margin: 0;
  font-size: 1.1em;
}

.background-notif h3 {
  margin-bottom: .3em;
  font-size: 1.3em;
}
