.background-container {
  position: absolute;
  z-index: 0;

  display: grid;
  grid-template-columns: repeat(12,auto);
}

.background-grid-item {
  border: solid 2px var(--fg);
  background-color: #FF00FF;
  width: 8.3vw;
  height: 8.3vh;
}

.main {
  display: grid;
  align-items: center;
  place-items: center;
}
