.background-container {
  position: absolute;
  z-index: -1;

  display: grid;
  grid-template-columns: repeat(var(--background-cols),1fr);
  grid-template-rows: repeat(var(--background-rows),1fr);

  width: var(--scroll-width);
  height: var(--scroll-height);

  /* margin: 1px; */
}

.background-grid-item {
  margin: 1px;

  background-color: transparent;

  transition-duration: .3s;
  background-color: var(--bg);

  pointer-events: auto;
}

.background-grid-item:hover {
  transition-duration: 0ms;
  scale: .9;
}
