.main-container {
  padding: 1.5em 1em;

  display: grid;
  grid-template-areas:
    "a b c"
    "d b e";
  grid-auto-columns: 23em;
  grid-auto-rows: 23em;
  gap: 1.8em; 
}

@media (max-width: 1212px) {
  .main-container {
    grid-template-areas: 
      "c b"
      "a b"
      "d e";
  }
}

@media (max-width: 785px) {
  .main-container {
    grid-template-areas: 
      "c"
      "b"
      "b"
      "a"
      "d"
      "e";
  }
}

.block {
  padding: 1em;
  border-radius: 2em;

  transition: .4s;

  color: var(--fg);

  box-shadow: 0 0 1em #080808;
}

.block:hover {
  color: var(--bg);
  box-shadow: 0 0 1em #F8F8F8;
}

.project-block {
  grid-area: a;
}

.about-me-block {
  grid-area: b;
}

.logo-block {
  grid-area: c;

  display: flex;
  align-items: center;
  place-items: center;

}

.logo-block img {

  pointer-events: auto;
}

.logo-block img:hover {
  filter: invert(100%);
}

.technologies-block {
  grid-area: d;
}

.tech-stack-imgs {
  display: grid;
  align-items: center;
  justify-content: center;

  grid-template-columns: 35% 35%;
  gap: 10%;
}

.tech-stack-img {
  padding: 1em;
  border-radius: 1.5em;

  width: 250%;

  background-color: rgb(152 152 152 / 10%);
}

.small-links-block {
  grid-area: e;
}

