.main-container {
  padding: 1.5em 1em;

  display: grid;
  grid-template-areas:
    "a b c"
    "d b e";
  grid-auto-columns: 23em;
  grid-auto-rows: 23em;
  gap: 1.8em; 
}

@media (max-width: 1212px) {
  .main-container {
    grid-template-areas: 
      "c b"
      "a b"
      "d e";
  }
}

@media (max-width: 785px) {
  .main-container {
    grid-template-areas: 
      "c"
      "b"
      "b"
      "a"
      "d"
      "e";
  }
}

.block {
  padding: 1em;
  border-radius: 2em;

  transition: 
    all 400ms,
    box-shadow 2s;

  color: var(--fg);

  box-shadow: 0 0 1em var(--shadow);
}

.block:hover {
  /* color: var(--bg); */
}

.project-block {
  grid-area: a;
}

.about-me-block {
  grid-area: b;
}

.logo-block {
  grid-area: c;

  display: flex;
  align-items: center;
  place-items: center;

}

.logo-block img {
  transition: 1s;
  filter: invert(var(--invert-amount));
}

.technologies-block {
  grid-area: d;
}

.tech-stack-imgs {
  display: grid;
  align-items: center;
  justify-content: center;

  grid-template-columns: 35% 35%;
  gap: 10%;
}

.tech-stack-img {
  padding: 1em;
  border-radius: 1.5em;

  width: 75%;

  transition: 
    background-color 2s;

  background-color:  color-mix(in srgb, var(--bg) var(--trans-three), var(--alt-fg) var(--trans-four));
}

@supports (-moz-appearance: none) {
  .tech-stack-img {
    width: 250%;
  }
}

.small-links-block {
  grid-area: e;

  display: grid;
  align-items: center;
  justify-content: center;

  grid-template-columns: 40% 40%;
  gap: 10%;
}

.small-links-block div {
  background-color:  color-mix(in srgb, var(--bg) var(--trans-three), var(--alt-fg) var(--trans-four));

  border-radius: .25em;
  padding: .15em;

  font-size: 5em;

  display: grid;
  align-items: center;
  justify-content: center;

  transition: 
    all 150ms,
    background-color 1s;
}

.small-links-block .empty {
  background-color: transparent;
}

.small-links-block a {
  color: var(--fg);
  transition: 1s;
}

.small-links-block div:hover {
  scale: 1.1;
}
