.skills {
  display: grid;
  justify-content: center;
  align-items: center;

  overflow: hidden;

  padding: 1.5em;
  width: 69.6em;
  height: 44.8em;

  border-radius: 2em;

  box-shadow: 0 0 1em var(--shadow);
}

.skills-wrapper {
  display: grid;
  grid-template-rows: repeat(3,1fr);

  align-items: none;
  justify-content: center;

  max-height: 100%;
  height: 100%;
  width: 100%;

  overflow: hidden;
  overflow-y: scroll;

  font-size: 1.1em;
  color: var(--fg);

  margin: 0;
  padding-top: 3em;

  transition: 1s;
}

@media (max-width: 1212px) {
  .skills {
    width: 44.8em;
    height: 90vh;
  }
  .skills-wrapper {
    grid-template-columns: repeat(1,1fr);
    gap: 2em 5em;
  }
}

@media (max-width: 785px) {
  .skills {
    width: min(75vw,20em);
    height: 90vh;
  }
  .skills-wrapper {
    grid-template-columns: repeat(1,1fr);
    gap: 2em 5em;
  }
  .skills-container {
    justify-content: center;
  }
  .skills-container .tech-stack-img {
    width: 3.5em !important;
  }
}

.skills-wrapper h1 {
  font-size: 1.5em;
  color: var(--fg);
  margin-right: 10px;

  display: inline-block;

  transition: 1s;
}

.skills-wrapper .tech-stack-img {
  width: 4em;
  padding: .7em;

  margin: .5em;

  border-radius: 1.5em;
}

.skills-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
