:root {
  --primary: #649173;
  --secondary: #dbd5aa;
  --secondary: #fcfccc;

  --dark-bg: #1C1C1C;
  --dark-fg: #e2e2e2;
  --dark-trans: #8C8C8C;
  --dark-shadow: #080808;

  --light-bg: #c1c1c1;
  --light-fg: #0a0a0a;
  --light-trans: #b5b5b5;
  --light-shadow: #cbcbcb;

  --bg: var(--dark-bg);
  --fg: var(--dark-fg);
  --trans: var(--dark-trans);
  --shadow: var(--dark-shadow);

  --alt-bg: var(--light-bg);
  --alt-fg: var(--light-fg);
  --alt-trans: var(--light-trans);
  --alt-shadow: var(--light-shadow);

  --trans-one: 70%;
  --trans-two: 50%;
  --trans-three: 30%;
  --trans-four: 15%;

  --invert-amount: .15;
  --scroll-height: 0px;
  --scroll-width: 0px;
  --scrollable-height: 69.6em;

  animation: background-pan 10s linear infinite;
  background: linear-gradient( to right, var(--primary), var(--secondary), var(--primary));
  background-size: 200%;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes background-pan {
  from {
    background-position: 0% center;
  }
  to {
    background-position: -200% center;
  }
}

* {
  pointer-events: none;
}

html, 
body {
  height: 100%;
  margin: 0;
}

.block,
.nav-buttons-container,
.hoverable,
img,
.small-links-block div,
.small-links-block a,
.project,
.project a,
.projects-wrapper,
button {
  pointer-events: auto;
}

::-webkit-scrollbar {
  display: none;
}

h1 {
  font-size: 2.5em;
  margin-top: .2em;
  margin-bottom: .2em;
}

p {
  font-size: 1.2em;
  text-indent: 25px;
}

main {
  display: grid;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;
}

.inner-main-container {
  display: flex;
  align-items: center;
  place-items: center;
}

.hoverable {
  /* background-color: rgb(112 112 112 / 20%); */
  background-color: rgb(from var(--trans) r g b) / var(--trans-two);
  backdrop-filter: blur(8px);
  transition: 1s;
}

.hoverable:hover {
  /* background-color: rgb(92 92 92 / 70%); */
  backdrop-filter: blur(10px);
}

.nav-buttons-container {
  padding: .8em;
  border-radius: 1.5em;

  transition: .5s;

  width: 3.5em;
  height: 12em;

  display: grid;
  grid-template-columns: 1fr;
  gap: .8em;
}

@media (max-width: 1292px) {
  .nav-buttons-container {
    position: fixed;
    z-index: 2;
    top: 1em;
    right: 1em;
  }
}

.nav-buttons-container button {
  background-color:  color-mix(in srgb, var(--bg) var(--trans-three), var(--alt-fg) var(--trans-three));
  color: var(--alt-bg);

  padding: 1em;
  border-radius: 2em;

  border: none;

  transition: .3s;
}

.nav-buttons-container button.active {
  background-color: rgb(from var(--secondary) r g b / var(--trans-two));
}

.nav-buttons-container button.active:hover,
.nav-buttons-container button:hover {
  background-color: rgb(from var(--secondary) r g b / var(--trans-one));
}

.nav-buttons-container button.active:active,
.nav-buttons-container button:active {
  background-color: rgb(from var(--primary) r g b / var(--trans-one));
  scale: 1.1;
}
