:root {
  --primary: #6950C9;
  --secondary: #42A0B3;
  --bg: #1C1C1C;
  --alt-bg: #979797;
  --fg: #e7e7e7;

  background-image: var(--bg);
}

main {
  display: grid;
  align-items: center;
  place-items: center;

  width: 100vw;
  height: 100vh;
}

.main-container {
  display: grid;
  grid-template-areas:
    "a b c"
    "d b e";
  grid-template-columns: repeat(3,23em);
  grid-template-rows: repeat(2,23em);
  gap: 1.8em; 
}

.block {
  background-color: rgb(112 112 112 / 50%);
  backdrop-filter: blur(3px);

  padding: 1em;
  border-radius: 2em;

  transition: .5s;
}

.block:hover {
  backdrop-filter: blur(4.5px) invert(100%);
}

.project-block {
  grid-area: a;
}

.about-me-block {
  grid-area: b;
}

.logo-block {
  grid-area: c;
}

.technologies-block {
  grid-area: d;
}

.small-links-block {
  grid-area: e;
}

